@import "./reset.css";
@import "./animations.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--black: #121f28;
	--white: #fefdfd;
	--red: #ff705a;
	--grey: #aaaaaa;

	--header-h: 80px;
}

html {
	height: 100dvh;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scroll-padding-top: var(--header-h);
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: var(--black);
}

.page {
	min-height: calc(100dvh - var(--header-h));
	scroll-snap-align: start;
}

/* ==== Header ==== */
header {
	position: sticky;
	top: 0;
	height: var(--header-h);
	z-index: 10;
	background-color: var(--black);
}

.header-content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1rem;
	color: var(--white);
}

header h3 {
	font-size: 1.8rem;
	font-weight: 500;
	font-family: "Nunito", sans-serif;
}

header nav {
	display: flex;
	gap: 1.5rem;
}

header a {
	font-size: 1.2rem;
	font-weight: 500;
	text-decoration: none;
	color: var(--grey);
	font-family: "Inter", sans-serif;
}

/* ==== Home ==== */
#home {
	display: grid;
	grid-template-rows: 1fr 150px;
}

.home-content {
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1rem;
}

.greeting {
	grid-column: 1/2;
	align-self: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-family: "Nunito", sans-serif;
	color: var(--white);
}

.greeting h2 {
	font-size: 3rem;
	font-weight: 800;
}

.greeting h2 span {
	color: var(--red);
}

.greeting h3 {
	font-size: 3rem;
	font-weight: 400;
	margin-left: 2.5rem;
}

.greeting h1 {
	font-size: 4rem;
	font-weight: 800;
}

.resume-button {
	margin-top: 40px;
	padding: 0.8rem 0.8rem;
	background-color: var(--red);
	border: 0;
	border-radius: 4px;
	outline: 0;
	font-family: "Nunito", sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--white);
	cursor: pointer;
	transition: all 0.3s ease;
}

.resume-button:hover {
	filter: brightness(90%) saturate(110%);
	transform: translateY(-3px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.picture {
	grid-column: 2/3;
	align-self: center;
}

/* ==== Skill Stack ==== */
.skill-stack {
	background-color: color-mix(in srgb, var(--black) 98%, white);
	margin: 40px 0;
	display: flex;
}

.skill-stack ul {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1rem;
}

.skill-stack li {
	font-family: "Nunito", sans-serif;
	font-size: 1.2rem;
	font-weight: 800;
	color: color-mix(in srgb, var(--black) 80%, white);
}

/* ==== About ==== */
#about {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: start;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1rem;
	padding-top: 10vh;
	gap: clamp(1.5rem, 3vw, 3rem);
}

#about .image {
	grid-column: 1/2;
}

#about .text-content {
	grid-column: 2/3;
	display: flex;
	flex-direction: column;
}

#about h1 {
	font-family: "Nunito", sans-serif;
	font-size: clamp(1.6rem, 1.1rem + 1.2vw, 3rem);
	font-weight: 600;
	margin-bottom: 1.5rem;
	color: var(--white);
}

#about h2 {
	font-family: "Nunito", sans-serif;
	font-size: 1.2em;
	line-height: 1.6;
	opacity: 0.95;
	font-weight: 500;
	margin-bottom: 1rem;
	color: var(--white);
}

#about p {
	font-family: "Nunito", sans-serif;
	font-size: clamp(1rem, 0.95rem + 0.3vw, 1.25rem);
	max-width: 65ch;
	line-height: 1.7;
	letter-spacing: 0.01em;
	margin-bottom: 0.5rem;
	text-align: left;
	color: var(--white);
}

/* ==== Projects ==== */
#projects {
	display: grid;
	grid-template-rows: 80px 1fr;
	max-width: 1400px;
	margin: 0 auto;
	padding: 5vh 1rem;
}

#projects h1 {
	justify-self: center;
	font-family: "Nunito", sans-serif;
	font-size: clamp(1.6rem, 1.1rem + 1.2vw, 3rem);
	font-weight: 600;
	margin-bottom: 1rem;
	color: var(--white);
}

.project-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	gap: clamp(16px, 2.5vw, 32px);
}

.project-card {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 16px 18px;
	border-radius: 12px;
	border: 1px solid var(--white);
	overflow: hidden;
}

.left-card,
.right-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project-card h2 {
	font-family: "Nunito";
	font-size: 2rem;
	font-weight: 800;
	text-align: center;
	color: var(--white);
	margin-bottom: 1rem;
}

.project-card img {
	height: 200px;
	width: 200px;
	object-fit: cover;
	display: block;
}

.project-card p {
	font-family: "Nunito";
	font-size: clamp(1rem, 0.95rem + 0.3vw, 1.25rem);
	font-weight: 800;
	line-height: 1.1;
	letter-spacing: 0.01em;
	margin-bottom: 0.5rem;
	text-align: left;
	color: var(--grey);
}

.project-card .button-container {
	width: 100%;
	display: flex;
	justify-content: start;
	gap: 1rem;
}

.project-card .button-container button {
	padding: 0.5rem 1rem;
	color: var(--white);
	background-color: var(--red);
	border: none;
	border-radius: 5px;

	transition: scale 0.3s ease, box-shadow 0.3s ease;
}

.project-card .button-container button:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/* ==== Contact ==== */
#contact {
	display: grid;
	grid-template-rows: 100px 1fr;
	max-width: 1400px;
	margin: 0 auto;
	padding: 5vh 1rem;
}

#contact h1 {
	justify-self: center;
	font-family: "Nunito", sans-serif;
	font-size: clamp(1.6rem, 1.1rem + 1.2vw, 3rem);
	font-weight: 600;
	margin-bottom: 0.5rem;
	color: var(--white);
}

#contact h2 {
	justify-self: center;
	font-family: "Nunito", sans-serif;
	font-size: clamp(1rem, 1.1rem + 1.2vw, 1.5rem);
	font-weight: 400;
	color: var(--white);
}

.contact-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact-content img {
	justify-self: flex-end;
	margin-right: 50px;
}

.contact-content ul {
	margin-top: 10%;
	font-family: "Nunito", sans-serif;
	font-size: clamp(1rem, 1.1rem + 1.2vw, 1.5rem);
	font-weight: 400;
	color: var(--white);
	fill: var(--white);
	transition: all 0.3s ease;
}

.contact-content li {
	width: fit-content;
}

.contact-content li > a:hover {
	filter: brightness(90%) saturate(110%);
	transform: translateX(5px);
	fill: var(--red);
}

.contact-content a {
	display: flex;
	align-items: center;
	gap: 1rem;
	text-decoration: none;
	transition: all 0.3s ease;
	color: inherit;
}

.contact-content svg {
	height: 60px;
	width: 60px;
	fill: inherit;
}
